body{
    font-family: 'Poppins', sans-seri
}
h1{
   font-size: 50px;
}
.name-highlight{
    color: #FFA500;
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}